html, body {
	height:99%;
	color: #262626;
	font-family: "Enriqueta",serif;
	font-size: 16px;
}

label {
    padding-right: 25px;
}

textarea {
	vertical-align: top;
}



.panel {
	height: 100%;
	float:left;
	overflow:hidden;	
}

.content {
	padding: 15px;
}

#search_panel {
	width:30%;
	background-color: #DDDDDD;
	box-shadow: 0px 5px 10px 3px #888888;
}

#main_panel {
	width:60%;
	padding-left: 20px;
	
}
